# Intermediate files from LaTeX
out.o

# Python-compiled byte-code
*.py[co]

# Doxygen-generated code documentation
sim/html
sim/latex

# Results (maybe later we'll have them in the repo)
sim/results

# PDF of the paper
cdc-paper/cdc.pdf
icac-paper/icac.pdf
